* {
  font-family: "Fredoka One", cursive;
  margin: auto;
}

body {
  padding: 20px;
  /* #ffaaa5 */
  background-color: #fff;
  overflow: hidden;
}

.jumbotron-main {
  background-color: #7899dc;
  color: #fff;
  width: 80%;
  margin: 0 auto;
  padding: 100px 20px 20px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.jumbotron-main h1 {
  font-size: 5vw;
}

.jumbotron-main h3 {
  font-size: 5vw;
  font-weight: 900;
}

.jumbotron-main p {
  font-size: 2vw;
}

.neko-footer {
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  background: transparent;
  color: white;
  text-align: center;
}

.neko-footer a {
  padding: 10px;
  font-size: 30px;
  color: #fff;
}

.neko-footer a:hover {
  color: #000;
}
